services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      YOINK_DB_PATH: /app/job_data/yoink_jobs.db
    # For testing on local machine
    # deploy:
    #   resources:
    #     limits:
    #       memory: 2048M
    #       cpus: '8'
    volumes:
      - backend-data:/app/job_data
      - backend-uploads:/app/uploads
      - backend-static:/app/static
    restart: unless-stopped

volumes:
  backend-data:
  backend-uploads:
  backend-static:
